:root {
  --sfr-color-primary-10: #002e5c;
  --sfr-color-primary-20: #003e7b;
  --sfr-color-primary-30: #004d9a;
  --sfr-color-primary-40: #005dba;
  --sfr-color-primary-50: #0074e8;
  --sfr-color-primary: #0074e8;
  --sfr-color-primary-60: #2f8eed;
  --sfr-color-primary-70: #62abf5;
  --sfr-color-primary-80: #97cafc;
  --sfr-color-primary-90: #cce6ff;
  --sfr-color-grey-00: #000000;
  --sfr-color-grey-10: #1a1a1a;
  --sfr-color-grey-20: #333333;
  --sfr-color-grey-30: #525252;
  --sfr-color-grey-40: #636363;
  --sfr-color-grey-50: #757575;
  --sfr-color-grey: #757575;
  --sfr-color-grey-60: #919191;
  --sfr-color-grey-70: #a8a8a8;
  --sfr-color-grey-80: #c4c4c4;
  --sfr-color-grey-90: #dbdbdb;
  --sfr-color-grey-100: #ffffff;
  --sfr-color-secondary-10: #5c2000;
  --sfr-color-secondary-20: #782a00;
  --sfr-color-secondary-30: #953400;
  --sfr-color-secondary-40: #b23e00;
  --sfr-color-secondary-50: #cf4800;
  --sfr-color-secondary: #cf4800;
  --sfr-color-secondary-60: #db692c;
  --sfr-color-secondary-70: #e78d5c;
  --sfr-color-secondary-80: #f3b492;
  --sfr-color-secondary-90: #ffdecc;
  --sfr-type-text-100: 400 1.875em/2.25em 'Source Sans Pro';
  --sfr-type-text-100-size: 30;
  --sfr-type-text-100-weight: 400;
  --sfr-type-text-90: 400 1.625em/1.95em 'Source Sans Pro';
  --sfr-type-text-90-size: 26;
  --sfr-type-text-90-weight: 400;
  --sfr-type-text-80: 400 1.5em/1.8em 'Source Sans Pro';
  --sfr-type-text-80-size: 24;
  --sfr-type-text-80-weight: 400;
  --sfr-type-text-70: 400 1.313em/1.575em 'Source Sans Pro';
  --sfr-type-text-70-size: 21;
  --sfr-type-text-70-weight: 400;
  --sfr-type-text-60: 400 1.188em/1.425em 'Source Sans Pro';
  --sfr-type-text-60-size: 19;
  --sfr-type-text-60-weight: 400;
  --sfr-type-text-50: 400 1.125em/1.35em 'Source Sans Pro';
  --sfr-type-text-50-size: 18;
  --sfr-type-text-50-weight: 400;
  --sfr-type-text: 400 1.125em/1.35em 'Source Sans Pro';
  --sfr-type-text-size: 18;
  --sfr-type-text-weight: 400;
  --sfr-type-text-40: 400 1em/1.2em 'Source Sans Pro';
  --sfr-type-text-40-size: 16;
  --sfr-type-text-40-weight: 400;
  --sfr-type-text-30: 400 0.875em/1.438em 'Source Sans Pro';
  --sfr-type-text-30-size: 14;
  --sfr-type-text-30-weight: 400;
  --sfr-type-text-20: 400 0.75em/0.9em 'Source Sans Pro';
  --sfr-type-text-20-size: 12;
  --sfr-type-text-20-weight: 400;
  --sfr-type-text-10: 400 0.688em/0.825em 'Source Sans Pro';
  --sfr-type-text-10-size: 11;
  --sfr-type-text-10-weight: 400;
  --sfr-type-text-bold-100: 700 1.875em/2.25em 'Source Sans Pro';
  --sfr-type-text-bold-100-size: 30;
  --sfr-type-text-bold-100-weight: 700;
  --sfr-type-text-bold-90: 700 1.625em/1.95em 'Source Sans Pro';
  --sfr-type-text-bold-90-size: 26;
  --sfr-type-text-bold-90-weight: 700;
  --sfr-type-text-bold-80: 700 1.5em/1.8em 'Source Sans Pro';
  --sfr-type-text-bold-80-size: 24;
  --sfr-type-text-bold-80-weight: 700;
  --sfr-type-text-bold-70: 700 1.313em/1.575em 'Source Sans Pro';
  --sfr-type-text-bold-70-size: 21;
  --sfr-type-text-bold-70-weight: 700;
  --sfr-type-text-bold-60: 700 1.188em/1.425em 'Source Sans Pro';
  --sfr-type-text-bold-60-size: 19;
  --sfr-type-text-bold-60-weight: 700;
  --sfr-type-text-bold-50: 700 1.125em/1.35em 'Source Sans Pro';
  --sfr-type-text-bold-50-size: 18;
  --sfr-type-text-bold-50-weight: 700;
  --sfr-type-text-bold: 700 1.125em/1.35em 'Source Sans Pro';
  --sfr-type-text-bold-size: 18;
  --sfr-type-text-bold-weight: 700;
  --sfr-type-text-bold-40: 700 1em/1.2em 'Source Sans Pro';
  --sfr-type-text-bold-40-size: 16;
  --sfr-type-text-bold-40-weight: 700;
  --sfr-type-text-bold-30: 700 0.875em/1.05em 'Source Sans Pro';
  --sfr-type-text-bold-30-size: 14;
  --sfr-type-text-bold-30-weight: 700;
  --sfr-type-text-bold-20: 700 0.75em/0.9em 'Source Sans Pro';
  --sfr-type-text-bold-20-size: 12;
  --sfr-type-text-bold-20-weight: 700;
  --sfr-type-text-bold-10: 700 0.688em/0.825em 'Source Sans Pro';
  --sfr-type-text-bold-10-size: 11;
  --sfr-type-text-bold-10-weight: 700;
  --sfr-type-text-semibold-100: 600 1.875em/2.25em 'Source Sans Pro';
  --sfr-type-text-semibold-100-size: 30;
  --sfr-type-text-semibold-100-weight: 600;
  --sfr-type-text-semibold-90: 600 1.625em/1.95em 'Source Sans Pro';
  --sfr-type-text-semibold-90-size: 26;
  --sfr-type-text-semibold-90-weight: 600;
  --sfr-type-text-semibold-80: 600 1.5em/1.8em 'Source Sans Pro';
  --sfr-type-text-semibold-80-size: 24;
  --sfr-type-text-semibold-80-weight: 600;
  --sfr-type-text-semibold-70: 600 1.313em/1.575em 'Source Sans Pro';
  --sfr-type-text-semibold-70-size: 21;
  --sfr-type-text-semibold-70-weight: 600;
  --sfr-type-text-semibold-60: 600 1.188em/1.425em 'Source Sans Pro';
  --sfr-type-text-semibold-60-size: 19;
  --sfr-type-text-semibold-60-weight: 600;
  --sfr-type-text-semibold-50: 600 1.125em/1.35em 'Source Sans Pro';
  --sfr-type-text-semibold-50-size: 18;
  --sfr-type-text-semibold-50-weight: 600;
  --sfr-type-text-semibold: 600 1.125em/1.35em 'Source Sans Pro';
  --sfr-type-text-semibold-size: 18;
  --sfr-type-text-semibold-weight: 600;
  --sfr-type-text-semibold-40: 600 1em/1.2em 'Source Sans Pro';
  --sfr-type-text-semibold-40-size: 16;
  --sfr-type-text-semibold-40-weight: 600;
  --sfr-type-text-semibold-30: 600 0.875em/1.05em 'Source Sans Pro';
  --sfr-type-text-semibold-30-size: 14;
  --sfr-type-text-semibold-30-weight: 600;
  --sfr-type-text-semibold-20: 600 0.75em/0.9em 'Source Sans Pro';
  --sfr-type-text-semibold-20-size: 12;
  --sfr-type-text-semibold-20-weight: 600;
  --sfr-type-text-semibold-10: 600 0.688em/0.825em 'Source Sans Pro';
  --sfr-type-text-semibold-10-size: 11;
  --sfr-type-text-semibold-10-weight: 600;
  --sfr-spacing-0: 0px;
  --sfr-spacing-0-3: 2.5px;
  --sfr-spacing-0-6: 5px;
  --sfr-spacing-0-9: 7.5px;
  --sfr-spacing-1: 10px;
  --sfr-spacing-1-3: 12.5px;
  --sfr-spacing-1-6: 15px;
  --sfr-spacing-1-9: 17.5px;
  --sfr-spacing-2: 20px;
  --sfr-spacing-3: 30px;
  --sfr-spacing-4: 40px;
  --sfr-spacing-5: 50px;
  --sfr-spacing-6: 60px;
  --sfr-spacing-7: 70px;
  --sfr-spacing-8: 80px;
  --sfr-effect-shadow-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  --sfr-effect-focus-shadow: 0px 0px 0px 2px #db692c;
  --sfr-effect-valid-shadow: 0px 0px 0px 2px #2f8eed;
  --sfr-spacing-col-0: 0%;
  --sfr-spacing-col-0-3: 2.7775%;
  --sfr-spacing-col-0-4: 2.0833%;
  --sfr-spacing-col-0-6: 4.1667%;
  --sfr-spacing-col-0-8: 6.25%;
  --sfr-spacing-col-0-9: 5.555%;
  --sfr-spacing-col-1: 8.3333%;
  --sfr-spacing-col-1-3: 11.1108%;
  --sfr-spacing-col-1-4: 10.4167%;
  --sfr-spacing-col-1-6: 12.5%;
  --sfr-spacing-col-1-8: 14.5833%;
  --sfr-spacing-col-1-9: 13.8883%;
  --sfr-spacing-col-2: 16.6667%;
  --sfr-spacing-col-2-3: 19.4442%;
  --sfr-spacing-col-2-4: 18.75%;
  --sfr-spacing-col-2-6: 20.8333%;
  --sfr-spacing-col-2-8: 22.9167%;
  --sfr-spacing-col-2-9: 22.2217%;
  --sfr-spacing-col-3: 25%;
  --sfr-spacing-col-3-3: 27.7775%;
  --sfr-spacing-col-3-4: 27.0833%;
  --sfr-spacing-col-3-6: 29.1667%;
  --sfr-spacing-col-3-8: 31.25%;
  --sfr-spacing-col-3-9: 30.555%;
  --sfr-spacing-col-4: 33.3333%;
  --sfr-spacing-col-5: 41.6667%;
  --sfr-spacing-col-6: 50%;
  --sfr-spacing-col-7: 58.3333%;
  --sfr-spacing-col-8: 66.6667%;
  --sfr-spacing-col-9: 75%;
  --sfr-spacing-col-10: 83.3333%;
  --sfr-spacing-col-11: 91.6667%;
  --sfr-spacing-col-12: 100%;
  --sfr-spacing-colvw-0: 0vw;
  --sfr-spacing-colvw-0-3: 2.7775vw;
  --sfr-spacing-colvw-0-4: 2.0833vw;
  --sfr-spacing-colvw-0-6: 4.1667vw;
  --sfr-spacing-colvw-0-8: 6.25vw;
  --sfr-spacing-colvw-0-9: 5.555vw;
  --sfr-spacing-colvw-1: 8.3333vw;
  --sfr-spacing-colvw-1-3: 11.1108vw;
  --sfr-spacing-colvw-1-4: 10.4167vw;
  --sfr-spacing-colvw-1-6: 12.5vw;
  --sfr-spacing-colvw-1-8: 14.5833vw;
  --sfr-spacing-colvw-1-9: 13.8883vw;
  --sfr-spacing-colvw-2: 16.6667vw;
  --sfr-spacing-colvw-2-3: 19.4442vw;
  --sfr-spacing-colvw-2-4: 18.75vw;
  --sfr-spacing-colvw-2-6: 20.8333vw;
  --sfr-spacing-colvw-2-8: 22.9167vw;
  --sfr-spacing-colvw-2-9: 22.2217vw;
  --sfr-spacing-colvw-3: 25vw;
  --sfr-spacing-colvw-3-3: 27.7775vw;
  --sfr-spacing-colvw-3-4: 27.0833vw;
  --sfr-spacing-colvw-3-6: 29.1667vw;
  --sfr-spacing-colvw-3-8: 31.25vw;
  --sfr-spacing-colvw-3-9: 30.555vw;
  --sfr-spacing-colvw-4: 33.3333vw;
  --sfr-spacing-colvw-5: 41.6667vw;
  --sfr-spacing-colvw-6: 50vw;
  --sfr-spacing-colvw-7: 58.3333vw;
  --sfr-spacing-colvw-8: 66.6667vw;
  --sfr-spacing-colvw-9: 75vw;
  --sfr-spacing-colvw-10: 83.3333vw;
  --sfr-spacing-colvw-11: 91.6667vw;
  --sfr-spacing-colvw-12: 100vw;
}